<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.weixuan.dao.EducationalExpMapper">
    <insert id="insertUserEducational">
        INSERT INTO educational_exp
        (schoolName,major,education,startTime,endTime,synopsis,userId)
        VALUES
        (#{schoolName},#{major},#{education},#{startTime},#{endTime},#{synopsis},#{userId})
    </insert>
    <select id="selectEducational" resultType="com.cn.weixuan.pojo.EducationalExp">
        SELECT  educationId,schoolName,major,education,startTime,endTime,synopsis FROM educational_exp WHERE userid=#{userId}
    </select>
    <update id="updateEducational">
        UPDATE educational_exp SET
            schoolName=#{schoolName},
            major=#{major},
            education=#{education},
            startTime=#{startTime},
            endTime=#{endTime},
            synopsis=#{synopsis}
            WHERE educationId=#{educationId}
    </update>
    <delete id="deleteEducational">
        DELETE FROM educational_exp WHERE educationId=#{educationId}
    </delete>
</mapper>
