<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.weixuan.dao.ProjectMapper">
    <select id="getProjectName" resultType="com.cn.weixuan.pojo.Project">
        SELECT name,userId FROM sys_project WHERE id=#{projectId}
    </select>
</mapper>
