<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.weixuan.dao.RoleMapper">

    <select id="getUserRoles" resultType="com.cn.weixuan.pojo.Role">
        SELECT
          r.*
        FROM
          `sys_user` AS u,
          `sys_role` AS r,
          `sys_user_role` ur
        WHERE u.`userId` = ur.`userId`
          AND r.`roleId` = ur.`roleId`
          AND u.`userId` = #{userId};
    </select>
    <insert id="insertRole" parameterType="com.cn.weixuan.pojo.Role"
            useGeneratedKeys="true" keyProperty="roleId">
        INSERT INTO sys_role
        (roleId,available,description,role)
        VALUES
        (null,#{available},#{description},#{role})

    </insert>
</mapper>
